<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学习端</title>
</head>

<body>
  <h1>
    学习端 - {{ userId }}
  </h1>
  {{ onlineUsers }}
  <div class="board">
    <fieldset>
      <legend>local</legend>
      <div>
        <video id="local-video" autoplay></video>
      </div>
    </fieldset>
    <fieldset>
      <legend>remote</legend>
      <div>
        <video id="remote-video" autoplay></video>
      </div>
    </fieldset>
  </div>
  <button id="call">call</button>
  <input type="text" id="remote-user">
  <button id="connect">connect</button>
</body>

</html>